*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    position: relative;
    background: linear-gradient(70deg, rgb(164, 4, 164), rgb(170, 170, 2));
}
.container{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: antiquewhite;
    color: white;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 450px;
    height: 400px;
    color: black;
    border: 2px double black;
    border-radius: 20px;
    box-shadow: 0 0 5px blue, 
    0 0 10px rgb(0, 195, 255), 
    0 0 20px red, 
    0 0 25px green;
    padding: 50px;
}
input{
    width: 300px;
    border: none;
    outline: none;
    padding: 5px 5px 5px 35px;
}
select{
    width: 300px;
    border: none;
    outline: none;
    padding: 5px 20px;
}
span{
    background-color: gray;
    padding: 3.5px 10px;
    position: absolute;
    text-align: center;
}
p{
    margin: 10px 0;
}
h1{
    margin: 0 0 20px 0;
}
button{
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    margin: 19px 0 0 0;
    background-color: black;
    color: white;
    border-radius: 10px 0;
    box-shadow: 0px 0 5px black;
    font-weight: 600;
    cursor: pointer;
}
#tip{
    position: absolute;
    bottom: 20px;
    background-color: green;
    padding: 8px 40px;
    border-radius: 2px;
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(240, 223, 223);
    display: none;
}
